:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */

body{
    color: #fff;
    background: var(--preto);
    font-family: 'Arial', Times, serif;
}

.m-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-left: 18px;
    margin-right: 12px;
}

.logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Bebas Neue';
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* ELEMENTOS */

.cartaz-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(/netfleules/img/Supernatural-capa.jpg);
    
    height: 400px;
    background-size: cover;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descricao{
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 18px;

}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.botoes{
    margin: 10px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.box-filmes{
    width: 100%;
    height: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 7px;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 5px;
}

.faq.list{
    height: 820px;
    width: 815px;
    margin: 10px

}

.faq-question{
    height: 60px;
    width: 815px;
    margin: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(27, 27, 27);
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;

    padding: 15px 30px;

    cursor: pointer;
    transition: .3s ease all;
}

.faq-answer{
    padding: 15px 30px;

    width: 815px;
    margin: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(27, 27, 27);
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thin-x{
    width: 200%;
}

/* SERIES */

.cartaz-series{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(/netfleules/img/prison-break.jpg);
    
    height: 400px;
    background-size: cover;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.box-series{
    margin-top: 30px;
    margin-left: 30px;
}

.container-objs{
    height: 150px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    
    padding: auto;
    border: 3px , #fff;
}

.title-obj .desc-obj{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.desc-obj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}